@model TravelInCloud.Models.HomeViewModels.ManageOrdersViewModel
@{
    Layout = "_LayoutFish";
    ViewData["Title"] = "管理订单";
}

@section css{
    <link rel="stylesheet" href="~/css/list.css" asp-append-version="true" />
}

<section class="header-tab">
    <ul class="tab clearfix ticket-tab" id="searchtab">
        <li data-div="all">
            <a href="javascript:;">
                订单状态
                <i class="font-icon icon-header-tab-b"></i>
            </a>
        </li>
    </ul>
</section>

@foreach (var Order in Model.Orders)
{
    <div id="right">
        <div class="page-line"></div>
        <div class="myorder-item">
            <div class="myorder-header">
                <span class="order-info">
                    <i class="font-icon icon-order-shopping"></i>
                    <em>购物</em>|
                    @switch (Order.OrderStatus)
                    {
                        case OrderStatus.unPaid:
                            <em class="unpay">
                                未支付
                            </em>
                            break;
                        case OrderStatus.Paid:
                            <em class="payed">
                                已付款
                            </em>
                            break;
                        case OrderStatus.Used:
                            <em class="payed">
                                已使用
                            </em>
                            break;
                        case OrderStatus.Refunded:
                            <em class="unpay">
                                已退款
                            </em>
                            break;
                        default:
                            throw new Exception("Page Argument Exception");
                    }
                </span>
                <br />
                <span>单号：@Html.DisplayFor(t => Order.OrderId)</span><br />
                <span>下单日期：@Html.DisplayFor(t => Order.CreateTime)</span><br />
                <span>使用日期：@Html.DisplayFor(t => Order.UseTime)</span><br />
                <span>下单用户：@Html.DisplayFor(t => Order.Owner.Name)</span><br />
                <span>用户手机：@Html.DisplayFor(t => Order.Owner.PhoneNumber)</span><br />
                <span>身份证号：@Html.DisplayFor(t => Order.Owner.IDCode)</span><br />
                <span class="price fr"><em>￥</em>@Order.ProductType.Price</span>
            </div>
            <a asp-controller="Home" asp-action="Product" asp-route-id="@Order.ProductType.BelongingProduct.ProductId" style="height:90px;">
                <img style="float: left; width: 4.45rem; height: 3.5rem;" src="@Order.ProductType.BelongingProduct.ImageOfProducts.First().ImageSrc" />
                <div class="gline-con" style="margin-left:130px;">
                    <h3 class="myorder-item-title">@Order.ProductType.BelongingProduct?.ProductName - @Order.ProductType.ProductTypeName </h3>
                    <p>
                        @Order.ProductType.ProductTypeDetails
                    </p>
                    <p><i class="font-icon fr icon-iconfont-jiantou"></i>1份</p>
                </div>
            </a>
            <div class="myorder-header">
                <ul class="order-list member-list">
                    <li style="padding:0"><a asp-controller="Home" asp-action="SetUsed" asp-route-OrderId="@Order.OrderId" asp-route-Target="0"><label class="lab-title" for=""><i class="font-icon icon-iconfont-zhanghu"></i>强制改为未付款</label><i class="font-icon fr icon-iconfont-jiantou"></i></a></li>
                    <li style="padding:0"><a asp-controller="Home" asp-action="SetUsed" asp-route-OrderId="@Order.OrderId" asp-route-Target="1"><label class="lab-title" for=""><i class="font-icon icon-iconfont-zhanghu"></i>强制改为已支付</label><i class="font-icon fr icon-iconfont-jiantou"></i></a></li>
                    <li style="padding:0"><a asp-controller="Home" asp-action="SetUsed" asp-route-OrderId="@Order.OrderId" asp-route-Target="2"><label class="lab-title" for=""><i class="font-icon icon-iconfont-zhanghu"></i>设置为已使用</label><i class="font-icon fr icon-iconfont-jiantou"></i></a></li>
                    <li style="padding:0"><a asp-controller="Home" asp-action="SetUsed" asp-route-OrderId="@Order.OrderId" asp-route-Target="4"><label class="lab-title" for=""><i class="font-icon icon-iconfont-zhanghu"></i>设置为已退款</label><i class="font-icon fr icon-iconfont-jiantou"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
}

<div class="page-line"></div>
<ul class="tab-search-panel" id="all">
    <li><a asp-route-OrderStatus="-1">全部</a></li>
    <li><a asp-route-OrderStatus="0">未支付</a></li>
    <li><a asp-route-OrderStatus="1">已支付</a></li>
    <li><a asp-route-OrderStatus="2">已使用</a></li>
    <li><a asp-route-OrderStatus="4">已退款</a></li>
</ul>

@section js{
    <script src="~/js/touch.js"></script>
    <script>
        $(function () {
            $(".tab-search-panel").each(function () {
                var height = $(this).outerHeight(true);
                $(this).css("top", -height + "px");
            });
            var touchobj = $("#searchtab").find("a"), div, tabpanel = $(".tab-search-panel").find("a");
            touch.on(touchobj, 'tap', function () {
                if ($(this).hasClass("c-base")) {
                    div = dialogclose(div);
                }
                else {
                    dialogclose(div);
                    div = $(this).parent().data("div");
                    $(this).addClass("c-base");
                    if (dodiv()) {
                        setTimeout(function () {
                            $("#" + div).stop().animate({
                                top: $("#searchtab").outerHeight(true) - 1
                            }, 300);
                        }, 300);
                    } else {
                        $("#" + div).stop().animate({
                            top: $("#searchtab").outerHeight(true) - 1
                        }, 300);
                    }
                    $("#mask").fadeIn();
                }
            });
            touch.on("#mask", "tap", function () {
                div = dialogclose(div);
            });
            touch.on("#mask", "touchend", function (event) {
                event.preventDefault();
            });
            touch.on(tabpanel, 'tap', function (ev) {
                var text = $(this).text();
                var height = $("#" + div).outerHeight(true);
                //$(".page-list").find("a").addClass("prevent");
                $("#searchtab").find("li[data-div=" + div + "]").find("a").text(text);
                $(this).parent().siblings().find("a").removeClass("c-base");
                $(this).addClass("c-base");
                window.location.href = $(this).attr("href");
                div = dialogclose(div);
                ev.preventDefault();
            });
            touch.on(tabpanel, 'touchend', function (event) {
                event.preventDefault();
            });
        });
        function dialogclose(div) {
            var height = $("#" + div).outerHeight(true);
            $("#" + div).stop().animate({
                top: -height + "px"
            }, 300);
            $("#mask").hide();
            $("#searchtab").find("a").removeClass("c-base");
            div = null;
            return div;
        }
        function dodiv() {
            var flag = false;
            $(".tab-search-panel").each(function () {
                var top = $(this).position().top;
                if (top > 0) {
                    flag = true;
                    return false;
                }
            });
            return flag;
        }
    </script>

}