@model TravelInCloud.Models.HomeViewModels.OrderViewModel
@{
    Layout = "_LayoutFish";
    ViewData["Title"] = "订单";
}

@section css{
    <link rel="stylesheet" href="~/css/list.css" asp-append-version="true" />
}

<section class="header-tab">
    <ul class="tab clearfix ticket-tab" id="searchtab">
        <li data-div="all">
            <a href="javascript:;">
                订单状态
                <i class="font-icon icon-header-tab-b"></i>
            </a>
        </li>
        <li data-div="default">
            <a href="javascript:;">
                订单类型
                <i class="font-icon icon-header-tab-b"></i>
            </a>
        </li>
    </ul>
</section>
@foreach (var Order in Model.Orders)
{
    <div id="right">
        <div class="page-line"></div>
        <div class="myorder-item">
            <div class="myorder-header">
                <span class="order-info">
                    <i class="font-icon icon-order-shopping"></i>
                    <em>购物</em>|
                    @if (Order.Paid)
                    {
                        <em class="payed">
                            已支付
                        </em>
                    }
                    else
                    {
                        <em class="unpay">
                            未支付
                        </em>
                    }
                </span>
                <br />
                <span>下单日期：@Html.DisplayFor(t => Order.CreateTime)</span><br />
                <span>使用日期：@Html.DisplayFor(t => Order.UseTime)</span>
                <span class="price fr"><em>￥</em>@Order.ProductType.Price</span>
            </div>
            <a asp-controller="Home" asp-action="Product" asp-route-id="@Order.ProductType.BelongingProduct.ProductId" style="height:90px;">
                <img style="float: left; width: 4.45rem; height: 3.5rem;" src="@Order.ProductType.BelongingProduct.ImageOfProducts.First().ImageSrc" />
                <div class="gline-con" style="margin-left:130px;">
                    <h3 class="myorder-item-title">@Order.ProductType.BelongingProduct?.ProductName - @Order.ProductType.ProductTypeName </h3>
                    <p>
                        @Order.ProductType.ProductTypeDetails
                    </p>
                    <p><i class="font-icon fr icon-iconfont-jiantou"></i>1份</p>
                </div>
            </a>
        </div>
    </div>
}
<div class="page-line"></div>
<ul class="tab-search-panel" id="all">
    <li><a href="/wap/order/userOrder.htm?orderType=" class="c-base">全部</a></li>
    <li><a href="/wap/order/userOrder.htm?payStatus=0&orderType=">未支付</a></li>
    <li><a href="/wap/order/userOrder.htm?payStatus=1&orderType=">已支付</a></li>
    <li><a href="/wap/order/userOrder.htm?orderStatus=3&orderType=">退单</a></li>
</ul>
<ul class="tab-search-panel" id="default">
    <li><a href="/wap/order/userOrder.htm?payStatus=&orderStatus=" class="c-base">订单类型</a></li>
    <li><a href="/wap/order/userOrder.htm?orderType=0&payStatus=&orderStatus=">门票订单</a></li>
    <li><a href="/wap/order/userOrder.htm?orderType=1&payStatus=&orderStatus=">酒店订单</a></li>
    <li><a href="/wap/order/userOrder.htm?orderType=2&payStatus=&orderStatus=">美食订单</a></li>
    <li><a href="/wap/order/userOrder.htm?orderType=3&payStatus=&orderStatus=">周边游订单</a></li>
    <li><a href="/wap/order/userOrder.htm?orderType=4&payStatus=&orderStatus=">跟团游订单</a></li>
    <li><a href="/wap/order/userOrder.htm?orderType=5&payStatus=&orderStatus=">商品订单</a></li>
</ul>
