@model TravelInCloud.Models.HomeViewModels.ProductViewModel

@{
    Layout = "_LayoutFish";
}
@section css{
    <link rel="stylesheet" type="text/css" href="~/lib/Swiper/dist/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/common.css">
    <link rel="stylesheet" type="text/css" href="~/css/details.css">
}
@section js{
}

<div class="swiper-container details-slider">
    <ul class="swiper-wrapper">
        @foreach (var img in Model.Product.ImageOfProducts)
        {
            <li class="swiper-slide">
                <img src="@img.ImageSrc" alt="@img.ImageDescription" />
            </li>
        }
    </ul>
    <div class="swiper-pagination"></div>
</div>
<div class="details-info">
    <h3 class="details-title">@Model.Product.ProductName </h3>
    <p class="details-explian">@Model.Product.Owner.StoreName</p>
    <p class="details-explian"><span class="flag-panel">@Model.Product.Owner.StoreType</span><span class="price fr"><em>￥</em><strong>@Model.Product.TryGetPrice()</strong>起</span></p>
    <a href="/wap/ticket/parkComments.htm?id=2880" class="details-comment clearfix">
        <span class="comment-score c-base">
            <em>5</em>
            <i class="font-icon icon-iconfont-aixin"></i>
            <i class="font-icon icon-iconfont-aixin"></i>
            <i class="font-icon icon-iconfont-aixin"></i>
            <i class="font-icon icon-iconfont-aixin"></i>
            <i class="font-icon icon-iconfont-aixin"></i>
        </span>
        查看1条评论 <i class="font-icon fr icon-iconfont-jiantou"></i>
    </a>
</div>
<div class="page-line"></div>
<ul class="order-list myorder-list">
    <li>
        <label for="" class="lab-title">地址</label>
        <div class="order-item">
            <a href="/wap/ticket/index!map.htm?id=2880">
                <span>@Model.Product.Owner.StoreLocation</span>
                <i class="font-icon icon-iconfont-jiantou"></i>
            </a>
        </div>
    </li>
    <li>
        <label for="" class="lab-title">景区介绍</label>
        <div class="order-item">
            <a href="/wap/ticket/buyTicket.htm?id=2880&&show=1">
                <span></span>
                <i class="font-icon icon-iconfont-jiantou"></i>
            </a>
        </div>
    </li>
</ul>
<div class="page-line"></div>
<ul class="order-list myorder-list">
    <li>
        <label for="" class="lab-title">预订须知</label>
        <div class="order-item">
            <a href="/wap/ticket/buyTicket.htm?id=2880&&show=2">
                <i class="font-icon icon-iconfont-jiantou"></i>
            </a>
        </div>
    </li>
</ul>
<div class="page-line"></div>
<h3 class="details-list-title">票型</h3>
<div class="no-data n-nbm">
    <i class="font-icon icon-iconfont-gantanhaom"></i>
    <p>暂无数据</p>
</div>
<div class="page-line"></div>


<div class="tab-swiper">
    <ul class="tab details-triple clearfix" id="details-tab">
        <li class="swiper-li active"><a href="javascript:;" data-div="book" class="active">产品特色</a></li>
        <li class="swiper-li"><a href="javascript:;" data-div="anpai">行程说明</a></li>
    </ul>
</div>

<div class="details-tab-panel">
    <div class="ticket-details-tabs" id="tab-panel">
        <div class="details-tab-item" id="book">
            <div class="tab-article">
                <p>@Model.Product.ProductInfo</p>
            </div>
        </div>
        <div class="details-tab-item" id="anpai">
            <div class="tab-article">
                <p>@Model.Product.ProductDetails</p>
            </div>
        </div>
    </div>
</div>
