@model TravelInCloud.Models.ProductType

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OldPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OldPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductTypeDetails)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductTypeDetails)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductTypeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductTypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-route-ProductId="@Model.BelongingProductId">Back to List</a>
</div>
